@import url(reset.css);

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.liguid{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;
}
.liguid h2{
    -webkit-text-stroke: 0.2vw #03a9f4;
    position: absolute;
    font-weight: 900;
    font-size: 20vw;
    color: #c2c2c2;
    font-family: sans-serif;
}
.liguid h2:nth-child(1){
    animation: wavy 4s linear infinite;
    z-index: 1;
    color: #03a9f4;
    opacity: 2;
}
.liguid h2:nth-child(2){
    animation: wavy 7s linear infinite;
    color: #03a9f4;
    z-index: 1;
    opacity: 8;
}
.liguid h2:nth-child(3){
    animation: wavy 2s linear infinite;
    z-index: 1;
    color: #03a9f4;
    opacity: 5;
}
@keyframes wavy {
    0%,100%{
        clip-path: polygon(0% 83%, 11% 77%, 22% 69%, 32% 66%, 43% 66%, 56% 70%, 67% 74%, 79% 79%, 89% 76%, 100% 67%, 100% 100%, 0% 100%);
    }
    50%{
        clip-path: polygon(0 62%, 11% 77%, 24% 80%, 39% 82%, 51% 75%, 59% 70%, 70% 66%, 80% 67%, 91% 71%, 100% 80%, 100% 100%, 0% 100%);
    }
    75%{
        clip-path: polygon(0 62%, 13% 77%, 27% 81%, 45% 75%, 58% 68%, 70% 67%, 79% 67%, 87% 70%, 93% 74%, 100% 83%, 100% 100%, 0% 100%);
    }    
}